*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    background-color: rgb(255, 251, 251);
}

.formCss{
    text-align: center;
    box-sizing: border-box;
    border: 2px;
    border-color: #3f6184;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 3px 5px 7px #778899;
    background-color: #f6f7f9;
    margin: auto;
}

.formfield{
    text-align: left;
    
}

.formHead{
    text-shadow: 1px 1px 1px #5faeb6;
}


table tbody { display:block; max-height:330px; overflow-y:scroll; margin: auto; padding: auto;}
table thead, table tbody tr { display:table; width:100%; table-layout:fixed; margin: auto;}

tr:nth-child(odd) {
  background-color:  #3f6184;
  margin:auto;
  }

 tr:nth-child(even) {
  background-color : #5faeb6;
  margin:auto;
  }

  th {
      box-sizing: border-box;
  border: 2px;
  border-color: #5faeb6;
  border-style: groove;
 
  /* border-radius: 5px; */
  box-shadow: 1px 1px 1px gray;
 background-color: rgb(255, 255, 255);

     
  }

  td{
    color: white
  }

  .btn-delete{
    background-color: #dc2545;
    color: white;
  }
.btn-update{
    background-color: #28a745;
    color: white;
}

 .todoList{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: larger;
 }


.notification-icon {
    position: relative;
}
.notification-count {
    position: absolute;
    top: -5px;
    right: -11px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.overdue_deadline{
    color:red;
    font-weight: 500;
    font-size: large;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 25%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.upcoming_deadline{
    color: rgb(216, 216, 2);
    font-weight: 500;
    font-size: large;
    text-shadow: 1px 1px rgb(180, 189, 0);
}

.modal-body{
    text-align: center;
}

.overdue_task_deadline{
    box-sizing: border-box;
   
  border-color: #5faeb6;
  border-style: groove;
 
  /* border-radius: 5px; */
  box-shadow: 1px 1px 1px gray;
  background-color: rgb(254, 185, 185);

}

.upcoming_task_deadline{
    box-sizing: border-box;
   
  border-color: #5faeb6;
  border-style: groove;
 
  /* border-radius: 5px; */
  box-shadow: 1px 1px 1px gray;
  background-color: rgb(253, 252, 219);

}

.inputTaskName{
   color: #323a45;
   font-size: large;
   font-weight: 500;
   text-shadow: 1px 1px   #3f6184;
}

.inputTaskDescription{
    color: #557db6;
    
}

.inputTaskDeadline{

color: #032a62;
}

.nav-link{
    color: #557db6;

}

/*  */

/* Custom styling for each toast */
.swal2-toast {
    position: relative;
    margin-bottom:10px;
    /* animation: slide 1s linear; */
    
}

/* @keyframes slide {
    0% {margin-bottom: 10px;}
    100% {margin-bottom: 500px;}
  } */

.swal2-toast2 {
    
    margin-bottom: 10px;  
}